// kanagawa-dragon

$bgh:       #181616;
$bg:        #181616;
$bg1:       #223249;
$bg2:       #2a2a37;

$fgh:       #c5c9c5;
$fg:        #c5c9c5;
$fg1:       #c5c9c5;
$fg2:       #938aa9;

$red:       #c4746e;
$green:     #8a9a7b;
$yellow:    #c4b28a;
$orange:    #e46876;
$blue:      #8ba4b0;
$purple:    #a292a3;
$aqua:      #8ea4a2;
$gray:      #727169;

$primary: $blue;
$secondary: $green;
$border: $bg1;

.bar {
  border-right: solid $border 1.5px;

  & .sections {
    & .center {
      & .workspace {
        & .button {
          &.active {
            background-color: $primary;
          }
        }
      }
    }
  }
}

.sidebar_home {
  & .music_player {
    & .right {
      & .meta {
        & .artist {
          color: $primary;
        }
      }
    }
  }

  & .notification_center {
    & .notifications {
      & .notification {
        & .meta {
          & .appname {
            color: $primary;
          }
        }
      }
    }
  }
}
