// Rosé Pine Main

$bgh:       #191724;
$bg:        #1f1d2e;
$bg1:       #1f1d2e;
$bg2:       #26233a;

$fgh:       #e0def4;
$fg:        #e0def4;
$fg1:       #e0def4;
$fg2:       #c4a7e7;

$red:       #eb6f92;
$green:     #9ccfd8;
$yellow:    #f6c177;
$orange:    #ebbcba;
$blue:      #31748f;
$purple:    #c4a7e7;
$aqua:      #9ccfd8;
$gray:      #6e6a86;

$primary:   #ebbcba;
$secondary: #31748f;
$border:    #2a2837;

.bar {
  border-right: solid $border 1.5px;

  & .sections {
    & .center {
      & .workspace {
        & .button {
          &.active {
            background-color: $primary;
          }
        }
      }
    }
  }
}

.sidebar_home {
  & .music_player {
    & .right {
      & .meta {
        & .artist {
          color: $primary;
        }
      }
    }
  }

  & .notification_center {
    & .notifications {
      & .notification {
        & .meta {
          & .appname {
            color: $primary;
          }
        }
      }
    }
  }
}
