// Rose pine moon

$bgh:       #232136;
$bg:        #0d1011;
$bg1:       #0d1011;
$bg2:       #2a273f;

$fgh:       #e0def4;
$fg:        #e0def4;
$fg1:       #e0def4;
$fg2:       #c4a7e7;

$red:       #eb6f92;
$green:     #9ccfd8;
$yellow:    #f6c177;
$orange:    #ea9a97;
$blue:      #3e8fb0;
$purple:    #c4a7e7;
$aqua:      #3e8fb0;
$gray:      #59546d;


$primary:   $orange;
$secondary: $blue;
$border:    $bg1;

.bar {
  border-right: solid $border 1.5px;

  & .sections {
    & .center {
      & .workspace {
        & .button {
          &.active {
            background-color: $primary;
          }
        }
      }
    }
  }
}

.sidebar_home {
  & .music_player {
    & .right {
      & .meta {
        & .artist {
          color: $primary;
        }
      }
    }
  }

  & .notification_center {
    & .notifications {
      & .notification {
        & .meta {
          & .appname {
            color: $primary;
          }
        }
      }
    }
  }
}
