[submodule "tmux"]
	path = .config/tmux
	url = https://github.com/Jorgedavyd/tmux-config.git
[submodule "nvim"]
	path = .config/nvim
	url = https://github.com/Jorgedavyd/nvim-config.git
[submodule "scripts"]
	path = .local/scripts
	url = https://github.com/Jorgedavyd/scripts.git
