tmux/plugins/*
!tmux/plugins/tpm

hypr/device.conf
hypr/*.conf.bak
hypr/hyprland.conf##*
hypr/*.tmp

*.log
*.tmp

*.swp
*.swo
.netrwhist

.vscode/

.DS_Store
Thumbs.db

*~
*.bak

venv/
.env/

node_modules/

*.o
*.pyc
__pycache__/

*.local
*.private
