$bgh:       #0d1011;
$bg:        #0d1011;
$bg1:       #0d1011;
$bg2:       #1B2023;
$bg3:       #374146;

$fgh:       #DCD7BA;
$fg:        #DCD7BA;
$fg1:       #DCD7BA;
$fg2:       #C8C093;

$black:     #0D0C0C;
$red:       #C4746E;
$green:     #8A9A7B;
$yellow:    #C4B28A;
$blue:      #8BA4B0;
$magenta:   #A292A3;
$cyan:      #8EA4A2;
$white:     #C8C093;
$orange:    #E82424;
$purple:    #957FB8;
$aqua:      #6A9589;
$gray:      #727169;

$primary: $blue;
$secondary: $yellow;
$border: $bg1;

* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font";
  color: $fg;
}

// Windows
@import "./windows/statusline/styles.scss";
@import "./windows/file_explorer/styles.scss";
